{#
/**
 * @file
 * Default theme implementation of a container used to wrap embedded entities.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - children: The rendered child elements of the container.
 * - url: The (sanitized) URL to link the embedded entity to, if any.
 *
 * @see template_preprocess_entity_embed_container()
 *
 * @ingroup themeable
 */
#}
<article{{ attributes }}>
  {% if url %}
    <a href="{{ url }}" {% if title %}title="{{ title }}"{% endif %} {% if target %}target="_blank"{% endif %}>
      {{ children }}
    </a>
  {% else %}
    {{ children }}
  {% endif %}
</article>
